
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgba(185, 203, 236, 0.2);
}
section{
    margin-top: 100px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
}
nav ul{
    display: flex;
    gap: 1.8rem;
    align-items: center;
}
.nav-hero{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}
.nav-description
   {
    height: 350px;
    width: 60%;
    padding-top: 60px;

}
.nav-hero img{
    width: 40%;
    height: 350px;
    
}
.nav-description h1{
    font-size: 3.5rem;
    font-weight: 800;
}
.nav-description p{
    font-size: 1.2rem;
    color: #a9a4a4;
}


@media screen and (max-width:576px){

    nav{
        margin: 10px;
    } 
    .bxs-cart{
        font-size: 1.5rem;
    }
   
    nav ul li{
        font-size: 1.2rem;
    
    }

   .li-first{
    display: none;
   }
   .li-middle{
    display: none;
   }
  
   
    .nav-hero{
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
        width:100%;
    }

    .nav-description{
        padding: 0;
        margin:20px 0 ;
    }
    .nav-description h1{
        font-size: 2.5rem;
    }
    .nav-description p{
        font-size: 13px;
    }
    .nav-hero img{
        height: 250px;
        width: 90%;
    }
}